
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vscode/.history/


.history/


DA/trash/
lection_learning/remembering/


*.exe
DA/trash/*.exe